/* Common styles */
section,
body {
  margin: 0;
  font-family: "Poppins";
  color: #4d533c;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.expandable_link::before {
  content: "";
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  margin-right: 6px;
  display: inline-block;
  border-left-width: 6px;
  border-left-style: solid;
}

.expandable_link {
  font-weight: 600;
  line-height: 18px;
}

hr {
  border-color: rgba(33, 56, 66, 0.0955529);
  width: calc(100% - 330px);
}

.p_relative {
  position: relative;
}

.avatars {
  border-radius: 50%;
  background-size: cover;
  box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
}

.name_info {
  display: flex;
  flex-direction: column;
}

.user_info {
  display: flex;
  align-items: center;
}

.name {
  font-weight: 700;
  margin-bottom: 5px;
}

/* Elements styles */

/* SECTION1 */

.section1 {
  background-image: url(../assets/section1/background_s1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 100vh;
  padding: 24px 166px 210px;
  color: white;
  position: relative;
}

.section1_logo {
  margin-bottom: 130px;
}

.section1 p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.section1 h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 74px;
  margin: 24px 0;
}

.section1 h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 45px;
}

.section1 .content {
  max-width: 615px;
}

.section1 .content a {
  color: #ffd723;
}

.section1 .menu {
  position: absolute;
  top: 26px;
  right: 125px;
  background-color: #f5f6f7;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1 .logos {
  position: absolute;
  bottom: -114px;
  padding: 60px 166px 54px 65px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 166px);
  box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
  border-radius: 2px;
  z-index: 1;
}

/* SECTION2 COMMON STYLES */

.section2 h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgba(33, 56, 66, 0.6);
  margin: 0;
}

.section2 h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  margin: 0;
}

.section2 img {
  width: 735px;
  height: 550px;
}

/* SECTION2 */

/* subsection1 */

.section2 {
  position: relative;
}

.section2 .subsection1 .content {
  max-width: 470px;
}

.section2 .subsection1 p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(77, 83, 60, 0.9);
  margin: 0 0 30px 0;
}

.section2 .subsection1 h1 {
  margin: 0 0 35px 0;
}

.highlight {
  background-color: rgba(255, 215, 35, 0.1);
}

.section2 .subsection1 {
  padding: 240px 0 183px 165px;
  position: relative;
}

.section2 .subsection1 h4 {
  margin: 0 0 42px 0;
}

.section2 .expandable_link {
  color: #d4d6d4;
}

.section2 .subsection1 .quote {
  position: absolute;
  max-width: 474px;
  top: 0;
  right: 166px;
  box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
  padding: 235px 40px 60px;
}

.section2 .subsection1 blockquote {
  margin: 0 0 50px 0;
  font-size: 24px;
  line-height: 40px;
  font-style: italic;
}

.subsection1 .quote .avatars {
  background-image: url(../assets/section2/avatar_1.png);
  width: 90px;
  height: 90px;
  margin-right: 30px;
}

.subsection1 .quote .name {
  font-size: 22px;
  line-height: 33px;
}

/* subsection2 */

.section2 .subsection2 {
  padding: 150px 0 190px;
}

.section2 .subsection2 .block1 {
  display: flex;
  align-items: center;
  padding-left: 165px;
  padding-bottom: 105px;
}

.section2 .subsection2 .block1 h1 {
  max-width: 325px;
  margin-right: 133px;
}

.section2 .subsection2 .block1 h4 {
  max-width: 518px;
}

.section2 .subsection2 .block2 {
  display: flex;
  margin-bottom: 165px;
}
.subsection2 .block2 .avatars {
  background-image: url(../assets/section2/avatar_2.png);
}

.section2 .subsection2 .block3 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 165px;
}

.section2 .subsection2 .block3 .content {
  margin-left: 172px;
}

.section2 .subsection2 .block3 .avatars {
  background-image: url(/assets/section2/avatar_3.png);
}

.section2 .subsection2 .block3 .user_comment {
  left: -40px;
  bottom: -20px;
}

.section2 .subsection2 .block4 {
  display: flex;
}

.section2 .subsection2 .block4 .avatars {
  background-image: url(/assets/section2/avatar_4.png);
}

.section2 .subsection2 .block4 .content h4 {
  margin-bottom: 115px;
}

/* Common styles for blocks 2-4 */

.section2 .subsection2 blockquote {
  margin: 0 0 24px;
  font-style: italic;
}

.section2 .subsection2 .content {
  margin: 90px 96px 0px;
  max-width: 420px;
}

.section2 .subsection2 .content h1 {
  margin-bottom: 24px;
}

.section2 .subsection2 .content h4 {
  margin-bottom: 90px;
}

.section2 .subsection2 .user_comment {
  position: absolute;
  right: -40px;
  bottom: -60px;
  width: 453px;
  background-color: #ffffff;
  box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
  border-radius: 8px;
  padding: 30px 30px;
}

.subsection2 .avatars {
  width: 46px;
  height: 46px;
  margin-right: 14px;
}

.subsection2 .post {
  font-size: 14px;
}

/* Subsection 3 */

.section2 .subsection3 {
  padding: 150px 135px 355px;
}

.section2 .subsection3 h1 {
  max-width: 610px;
  padding-bottom: 86px;
}

.section2 .subsection3 table {
  border-spacing: 90px 0;
  margin-left: -60px;
}

.section2 .subsection3 .table_header {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
}

.section2 .subsection3 .table_header td {
  padding-bottom: 20px;
}

.section2 .subsection3 .table_description {
  color: rgba(33, 56, 66, 0.6);
  margin-bottom: 56px;
  font-weight: 500;
  font-size: 14px;
}

.section2 .subsection3 .table_description td {
  padding-bottom: 30px;
}

.section2 .motivation {
  background-color: #fafafa;
  box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
  padding: 70px 290px 70px 165px;
  width: calc(100% - 165px);
  position: absolute;
  left: 0;
  bottom: -185px;
}

.section2 .motivation h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 74px;
  margin: 0 0 50px;
}

.section2 .motivation .expandable_link {
  color: #d4d6d4;
}
